 /* Medium Layout: 1280px. */
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
     .slide-text h2 {

         font-size: 50px;
     }

     .tile-gallery {
         top: 111px;
     }

     .tile-gallery img {
         max-width: 320px;
     }

     .black-overlay h2 {
         font-size: 27px;
     }

     .footer-area h5 {

         margin-left: -20px;
     }

     .social-links {
         margin-left: -30px;
     }


     /* home-2 */


     .hero-text h2 {
         font-size: 37px;
     }

     .hero-area p {
         font-size: 12.5px;
     }

     .register-now-form {

         width: 382px;
     }

     .register-now-form input[type="submit"] {
         width: 59%;

     }

     .success-plan img {
         max-width: 468px;
         margin-top: 40px;
     }

     .success-plan h2 {

         margin-top: 0px;
         margin-bottom: 0px;
     }

     .success-plan .boxed-btn {
         margin-top: 0px;

     }


     .social-link {

         margin-left: -29px;
     }

     /* service.html */
     .success-plan .margin-80 {
         margin: 80px 80px 0px 80px;
     }

     .service-box {
         padding: 0px 0px;
     }


     /* single-service-description */

     .service-description img {
         height: 450px;

     }

     /* .single-portfolio */

     .single-portfolio img {
         height: 100%
     }

     /* 
        testimonial.html */
     

     .section-padding.testimonials-area {
        padding: 52px 0px;
    }


     /* blog-details.html */


     .comment-form input[type="submit"] {
         width: 31%;
     }

     /* blog-section.html */
     .blog-section .blog-thumb {
         height: 327px
     }
        /* tem-section */
     .team-3 .single-team-item-2 {
        padding: 43px 0px;
    }

    .team-3 {
        padding: 50px 0px;
    }

 }

 /* Tablet & mobile Layout: 768px. */

 @media only screen and (max-width: 991px) {
     .main-menu {
         display: none;
     }
     .slide-text h2 {

         font-size: 30px;
     }

     .slide-text {
         padding: 100px 0;
     }

     .space-90 {
         display: none
     }

     .section-padding {

         padding: 45px 35px;
     }

     .tile-gallery {

         height: auto;
         margin-left: 0px;

     }

     .tile-gallery img:nth-child(2) {
         position: relative;
         right: auto;
         top: auto;

     }

     .tile-gallery img:nth-child(3) {
         position: relative;
         bottom: auto;
         left: auto;

     }

     .digital-mkt:before {

         height: 400px;
         width: 100%;
     }

     .digital-mkt {
         padding-top: 450px;
     }

     .digital-mkt .single-service-item:hover:after {
         display: none
     }

     .black-overlay .text-right.mobile-left {
         text-align: left !important;
     }

     .footer-area .col-md-2 {
         margin-top: 20px;
         text-align: center;
     }

     .footer-area {

         padding: 50px 0;
     }

     .footer-area .footer-logo {
         text-align: center;
     }

     .footer-area p {

         margin-bottom: -10px;
     }

     /* home-page-2 */

     .hero-text {
         margin-top: 0px
     }

     .hero-area {

         padding-top: 100px;
         padding-bottom: 100px;
     }



     .hero-area p {
         font-size: 14px;
         margin-top: 15px
     }



     .ticker-text {
         margin-top: 0px
     }

     .success-plan .boxed-btn {
         margin-bottom: 46px;
     }

     .success-plan .margin-80.service {
         margin: 50px;
     }

     .success-plan .success img {


         width: 100%;
         margin-top: 20px;
     }

     .success-plan .margin-80 {
         margin: 0px;
     }

     .margin-bottom-60 {
         margin-bottom: 0px;
     }

     .single-blogbox {
         margin-top: 10px;
     }

     .register-now-form {

         margin-top: 25px;
     }

     .black-overlay h2 {
         font-size: 30px;
     }

     /* service.html */

     .success-plan .service-box {
         padding: 0px 0px;
     }

     .service-box {
         padding: 0px 0px;
     }

     /* 
     single-service-description */

     .service-description img {
         height: 320px;

     }

     .portfolio-filter li {

         padding: 4px 18px;

     }

     .portfolio-filter li {
         padding: 0px 5px;
         font-size: 14px;
     }

     .service .container {
         max-width: 720px;
     }

     /* .single-portfolio.html */

     .single-portfolio img {
         margin-top: 0px
     }


     /* .service .col-md-8 {
         flex: 0 0 100%;
         max-width: 100%;
         text-align: center;

     } */

     .service .col-md-4 {
         text-align: center;
     }


     /* .testimonial-html */

     .section-padding.testimonials-area {
         padding: 50px 50px;
     }


     /* blog-details.html */

     blockquote {

         width: 100%;
         margin-left: 0px;
     }

     /* blog-section.html */

     .blog-section .blog-thumb {

         height: 353px;
     }


     .post-share a {
         padding: 10px 16px;
     }

     .comment-form input[type="submit"] {
         width: 50%;
     }

     /* Slick-Nav */

     .slicknav_menu {
        font-size: inherit;
        background: none;
        padding: 0;
        position: absolute;
    }

    .slicknav_btn {
        margin: 0;
        background: none;
        float: none;
        padding: 17px 0
    }

    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    .slicknav_menu .slicknav_icon {
        margin: 0;
    }

    .slicknav_nav {
        background-color: #23bbc0;
        width: 200px;
    }

    .slicknav_menu a.slicknav_item.slicknav_row {
        margin: 0;
        padding: 10px;
        text-decoration: none;
    }

    .slicknav_nav .slicknav_row:hover ,.slicknav_nav a:hover {
        background-color: #333;
        border-radius: 0;
        text-decoration: none;
        
    } 





 }






 /* Tablet Layout: 768px. */
 @media only screen and (min-width: 768px) and (max-width: 991px) {


     .tile-gallery img {
         height: 300px;
         margin-top: 10px;

     }

     .digital-mkt .col-md-6 {

         display: contents
     }

     .black-overlay h2 {
         font-size: 23px;
     }

     .black-overlay .text-right.mobile-left {
         text-align: right !important;
     }

     .testimonial.no-padding-top {
         padding-top: 0;
     }

     .footer-area .social-link {
         margin-left: -71px;
     }




     .footer-area h5 {

         margin-top: 20px;
         margin-left: -117px;
     }

     .footer-area ul {
         margin-left: -80px
     }


     .footer-area {
         position: relative;
     }

     .footer-area .footer-logo {
         position: absolute;
         top: -32px;
         margin-bottom: 20px;

     }

     .footer-area p {

         margin-top: 28px;
     }




     /* home-page-2 */

     .hero-text h2 {
         font-size: 34px;
     }

     /* .register-now-form {
         max-width: 450px;
     } */

     .success-plan .success-image {
         margin-top: 100px;
         height: auto;
     }

     .hero-text {
         margin-top: 175px;
         width: 389px
     }



     .register-now-form {
         width: 360px;
         margin-left: -38px;
     }

     /* about-html */

     .success-plan .success-image {
         margin-top: 100px;
         height: auto;
     }




     /* single-service-description */

     .widget .boxed-btn {

         padding: 4px;
     }

     .service-description img {
         height: 350px;
     }

     .widget {

         padding: 8px;

     }

     .single-portfolio img {

         height: 73%;
         margin-top: 130px;
     }

     /* testimonial-html */

     .testimonials-area .col-md-4 {

         /* 
         flex: 0 0 100%;
         max-width: 100%; */

     }





     /* services-html */
     .service .col-md-4 {
         /* flex: 0 0 100%;
         max-width: 100%; */
     }

     /* single-service-html */
     .service .col-md-8 {
         /* flex: 0 0 100%;
         max-width: 100%;
         text-align: center; */

     }

     /* team.html */

     .team-3 .single-team-item-2 {
        padding: 43px 0px;
    }






     /* portfolio-html */

     .portfolio-filter li {
         padding: 0px 15px;

     }

     /* blog-section-html */
     .blog-section .blog-thumb {
         height: 3px;
     }






 }

 /* Mobile Layout: 320px. */
 @media only screen and (max-width: 767px) {
     .tile-gallery img {

         margin-top: 10px;
     }

     .tile-gallery {
         text-align: center;
     }

 }

 /* Wide Mobile Layout: 480px. */
 @media only screen and (min-width: 480px) and (max-width: 767px) {}