 /* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .slide-text h2 {
    
    font-size: 50px;   
}
.tile-gallery img {
    max-width: 320px;
}
.black-overlay h2 {
    font-size: 27px;
}

.social-links {
    margin-left: -29px;
}


        /* home-2 */

.register-now-form {
    
    padding: 58px;  
}

.success-plan img {
    margin-left: -26px;
}
.success-plan h2 {
    
    margin-bottom: 0px;
}
.social-link {
    
    margin-left: -29px;
}



    
}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
    .main-menu {
    display: none;
}
.logo {   
    margin-top: 7px;
}
.slide-text h2 {
    
    font-size: 30px;   
}
.slide-text {
    padding: 100px 0;
}
.space-90 {
    display: none
}
.section-padding {
    
    padding: 45px 35px;
}
.tile-gallery {
    
    height: auto;
    margin-left: 0px;
    
}
.tile-gallery img:nth-child(2) {
    position: relative;
    right: auto;
    top: auto;
    
}
.tile-gallery img:nth-child(3) {
    position: relative;
    bottom: auto;
    left: auto;
    
}
.digital-mkt:before {
    
    height: 400px;
    width: 100%;
}
.digital-mkt {
    padding-top: 450px;
}
.single-service-item:hover:after {
    display: none
}
.black-overlay.text-right .mobile-left {
    text-align: left
}
.footer-area .col-md-2 {
    margin-top: 50px;
}

/* home-page-2 */

.hero-text {
    margin-top: 0px
}

.hero-area {
    
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero-text h2 {
    
    font-size: 27px;
    
}
.hero-area p {
    font-size: 10px;
}

.hero-area .col-md-5{
    padding-right: 30px;
    padding-left: 30px;
}  

.ticker-text {
    margin-top: 0px
}
}




}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    .tile-gallery img {
       height: 300px;
      
    }
    .digital-mkt .offset-md-6 {
        margin-left: 20%
    }
   

    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
   .tile-gallery img {
    
    margin-top: 10px;
}
  .tile-gallery {
    text-align: center;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}