@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
    position: relative;
    line-height: 1.8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

;

a:hover,
a:focus {
    text-decoration: none;
}

input:focus,
button:focus,
textarea:focus {
    outline: none
}

img {
    max-width: 100%;
    height: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
}

.header-area {
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    font-weight: 700;
}

.header-area a {
    color: #333;
}

.header-area.header-absolute {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.header-area.header-absolute a,
.search-box .search-icon {
    color: #fff;
}


/* dropdown */


.main-menu {
    min-height: 50px;    
}

.main-menu ul {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    list-style: none;   
}


.main-menu ul li {
    
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.137); 
    display: inline-block;
    background-color: #1e3a55;
   
   
}
.main-menu ul li a {
    display: block;
    padding: 0 20px;
    line-height: 60px;
    text-decoration: none;
    color: #000;
}
.main-menu ul li a:hover {
    background-color: #000;
}

    /* Dropdown-css */

    .main-menu ul li ul {
        position: absolute;
        left: 0;
        /* background-color:white; */
        transition: 0.3s ease;
        visibility: hidden;
        opacity: 0;
    }

    .main-menu ul li:hover > ul   {
        visibility: visible;
        opacity: 1;
    }

    


    .main-menu ul li> ul li:hover >ul
     {
        top: 0;
    }
    .main-menu ul li> ul li >ul{
        left: 198px;
    }

    .main-menu ul li ul li {
        display: block;
        width: 200px
    }

    .main-menu ul li ul li a {
        height: 50px;
        
    }

    
    
         /* Mega-menu  */

         .main-menu li.mega-menu h5 {
             color: #fff
         }

         .main-menu li.mega-menu {
            position: static;
        }

        

         .main-menu li.mega-menu ul li    {
            
            width: 100%;
            display: inline-flex;
            
        } 

        .main-menu li.mega-menu ul   {
           
            
            width: 100%;
            
            
        } 

        .main-menu li.mega-menu:hover ul {
            opacity: 1;
            visibility: visible;
        }

  



      
       


/* .main-menu a:hover { 
	background-color: rgba(19, 19, 20, 0.137); 
    
}

.main-menu ul ul {
	display: none;
	position: absolute; 
	top: 60px; 	
}	

.main-menu ul li:hover > ul {
	display:inherit;
}	

.main-menu ul ul li {
	width:230px;
	float:none;
	display:list-item;
	position: relative;
}

.main-menu ul ul ul li {
	position: relative;
	top:-60px; 
	left:230px;
}



li > a:after { content:  ' ▼'; } 

 li > a:only-child:after { content: ''; }  */


/* search-box */



.search-box {
    width: 55px;
    height: 55px;
    margin-top: 10px
}

/* .search-box .search-icon .search {
    font-size: 21px;
    cursor: pointer;
    color: #444;
}

.search-box.active {
    width: 300px;
}

.search-box .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    align-items: center;

}

.search-box .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    outline: none
}

.search-box .input .clear {

    position: absolute;
    right: 100px;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #8888;
} */










/********* slider-area(1) ***********/


.slide-bg-1 {
    background-image: url(../img/first.jpg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px 15px;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
}

.single-slide-item:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #333;
    z-index: -1;
    opacity: .66;
}

.slide-text,
.slide-text a {
    color: #fff;
}

.slide-text h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;

}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;

}

.video-img {
    height: 180px;
    width: 312px;

}

.play-icon {
    background: #22bbc0;
    position: absolute;
    height: 60px;
    width: 60px;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    line-height: 55px;
    border-radius: 50%;


}


.boxed-btn {
    background-color: #0bbbc1;
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 50px;
}

.slide-text {
    padding: 160px 0;
}

.slick-slide img {
    display: inline-block;
}


/* happiness does not come from */


.section-padding {
    padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: 700;
    line-height: 1.3;

}

.happiness h2 {
    margin-bottom: 40px;
    color: #333
}


.space-90 {
    height: 90px;
}

.single-promo-box {
    margin-top: 30px;
    text-align: center;

}

.promo-icon {
    margin-bottom: 20px;
}

.single-promo-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
}



/******* tile-gallery ********/
.tile-gallery {
    position: relative;
    height: 675px;
    margin-left: 20px;
}

.tile-gallery img {
    border-radius: 5px;
    box-shadow: 0px 15px 15px #b4b4b4;
    position: relative;
    z-index: 1;
    height: 390px;
    width: 370px;

}

.tile-gallery img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
}

.tile-gallery img:nth-child(3) {
    position: absolute;
    bottom: -30px;
    left: 28px;
    z-index: 3;
}




/*** digital-marketing ---- wed-development ****/
.digital-mkt {
    overflow: hidden;
    position: relative;
}

.digital-mkt:before {
    background-image: url(../img/meeting.jpg);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 51%;
}

.single-service-item {
    position: relative;
    padding-left: 85px;
    padding-top: 18px;
    padding-bottom: 9px;
    display: block;
    color: #726f6f;

}


a:hover {
    color: #0056b3;
    text-decoration: none;
}

.service-icon {
    position: absolute;
    left: 6px;
    top: 75px;


}


.single-service-item h3 {
    font-size: 20px;
    color: #333;


}

.single-service-item:hover {
    background-color: #22bbc0;
    color: #fff;


}

.single-service-item:hover h3 {
    color: #fff;


}

.single-service-item:hover:after {
    position: absolute;
    content: "";
    left: 100%;
    top: 0;
    width: 5000%;
    height: 100%;
    background-color: #22bbc0;
}

.service-icon-tablecell {
    margin-left: 20px;
}

/********* our skills *********/
.skill h2 {
    color: #333
}

.little-description {
    font-size: 14px;
}

.skill-section {
    color: #333;
    text-align: center;
    background: #fff;
}

.skill-section.box h4 {
    color: #3c4761;
    margin-top: 40px;
}

.skill-section.box {
    margin-top: 50px;
}

svg.radial-progress {
    height: auto;
    padding: 0px;
    max-width: 255px;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    stroke-width: 1;
    stroke: #22bbc0;
    height: 200px;
    width: 200px
}

svg.radial-progress text {
    fill: #373737;
    font-size: 13px;
    font-weight: 700;
}




/* ***black over lay background area ******/

.section-bg-1 {
    background-image: url(../img/cover\ size\ image.jpg)
}

.section-padding {
    background-size: cover;
    background-position: center;
    padding: 100px 100px
}


.black-overlay {
    position: relative;
    z-index: 2;


}

.black-overlay:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .5;

}

.black-overlay h2 {
    font-size: 32px;
}

.black-overlay p {
    font-size: 13px;
    margin-bottom: 10px;
}

.black-overlay p,
h2,
.boxed-btn {
    color: #fff;
}

.black-overlay .boxed-btn {
    margin-top: 35px;
}

.black-overlay h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}



/*********** portfolio area ***********/
.portfolio h2 {
    color: #333
}

.portfolio-bg-1 {
    background-image: url(../img/portfolio-1.png);
}

.portfolio-bg-6 {
    background-image: url(../img/portfolio-header.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-bg-7 {
    background-image: url(../img/projects.details.jpg);
    background-size: cover;
    background-position: center;
}


.portfolio-bg-2 {
    background-image: url(../img/portfolio-2.png);
}

.portfolio-bg-3 {
    background-image: url(../img/portfolio-3.png);
}

.portfolio-bg-4 {
    background-image: url(../img/portfolio-4.png);
}

.single-portfolio-item.large.portfolio-bg-1 {
    height: 650px;
}

.portfolio-bg-5 {
    background-image: url(../img/portfolio-5.png);

}

.single-portfolio-item.large.portfolio-bg-5 {
    height: 650px;
}




.space-75 {
    height: 75px;
}




.single-portfolio-item {
    height: 310px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    margin: 15px 0;
    box-shadow: 4px 10px 10px #ccc;
}

.portfolio-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    font-size: 20px;
    transition: .2s;
    opacity: 0;
    visibility: hidden
}

.portfolio-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
}

.portfolio-hover-table {
    display: table;
    height: 100%;
    width: 100%;
}

.portfolio-hover-tablecell {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.portfolio-hover a,
h4 {
    color: #fff;
}

.portfolio-hover h4 {
    font-size: 20px;
    margin-top: 12px;

}

.portfolio-filter {
    margin: 0px 0 50px;
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    color: #333;
    font-weight: 700;
    text-align: center;
    list-style: none;
}

.portfolio-filter li {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer
}

.portfolio-filter li.active {
    color: #22babf
}

.space-70 {
    height: 70px;
}

.space-50 {
    height: 50px
}

.single-portfolio h3 {
    font-size: 24px
}

.single-portfolio p {
    font-size: 14px;
}



/********* testimonial-slider section *******/
.testimonial h2 {
    color: #333
}

.no-padding-top {
    padding-top: 0;
}

.team-list {
    margin-top: 50px;
}

.single-team-item {
    background: #fbfbfb;
    padding: 40px;
    margin: 20px;
    text-align: center;
}

.single-team-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.single-team-item h5 span {
    display: block;
    color: #888888;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 5px;
}

.single-team-item h5 {
    margin: 30px 0 23px;
}




/*****our team web slider****/

.section-bg-2 {
    background-image: url(../img/testimonial-bg.jpg);
}

.testimonial-list {
    margin-top: 70px;
}

.team h2 {
    color: #fff;

}

.team p {
    color: #fff;
    font-size: 14px
}

.single-testimonial-item {
    background: #fff;
    margin: 20px;
    text-align: center;
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Zilla Slab', serif;
    font-style: italic;
}

.testimonial-icon {
    font-size: 25px;
    color: #0bbbc1;
    margin-bottom: 10px;
}

.single-testimonial-item h5 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 14px
}

.single-testimonial-item h5 span {
    display: block;
    font-weight: normal;

}

.single-testimonial-item h5 span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    color: #605e5e;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 5px;
}


/* Our - testimonial- Expert Team   */

.testimonials-area .single-testimonial-item {
    box-shadow: 0 0 4px #ddd;
    border: 2px solid transparent
}

.section-padding.testimonials-area {
    padding: 50px 100px;
}

.testimonials-area .single-testimonial-item:hover {
    border: 2px solid #0bbbc1;
    box-shadow: 0 0 0 #ddd;
}







/********* Logo carousel *********/
.no-padding-bottom {
    padding-bottom: 0;
}

.logo-carousel {}

.slick-slide.single-logo-item img {
    width: 150px;
    margin: 0 auto;
}

.single-logo-item {

    display: table;
    width: 100%;
    height: 100px
}

.single-logo-item .logo-item-inner {
    display: flex;
    vertical-align: middle;
    width: 100%
}


/******** Footer area ********/

.footer-area {
    background: #f5f5f5;
    padding: 100px 0
}

.footer-area ul {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    margin-top: 10px;
}

.footer-area ul li a {
    color: #373737;
}

.footer-area h5 {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 40px
}

.footer-area .social-links a {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 1px;
    border: 1px solid #333;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    border-radius: 50%;
    color: #000
}

.footer-area .social-links a:hover {
    background-color: #0bbbc1;
    border-color: #0bbbc1;
    color: #fbfbfb
}

.footer-area p {
    font-size: 14px;
    color: #888888
}

.footer-area h3 a {

    font-size: 20px;
    color: #000;
    display: inline-block;
    margin: 11px 0;
}

/***************** home-2 Hero-area **************/

.hero-area {
    background-image: url(../img/home-page-2\ cover.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000;
    padding-top: 180px;
    padding-bottom: 120px
}

.hero-text {
    margin-top: 175px;
}

.hero-area h3 {
    color: #333;
    font-size: 24px;

}

.hero-text h2 {
    color: #fff;
    font-size: 43px;
    line-height: 1;
    margin-bottom: 18px
}

.hero-area p {
    font-size: 15px;

}

.register-now-form {
    background: #fff;
    padding: 65px;
    border-top: 10px solid #22bac0;
    border-radius: 4px;
}

.black-overlay .register-now-form h3 {
    margin-top: -20px;
    margin-bottom: 50px;
}

.register-now-form p {
    margin-bottom: 25px;
}

.register-now-form p:last-child {
    margin-bottom: 0;
}

.register-now-form span {
    color: red
}

input,
button,
text-area {
    padding: 13px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #909090
}

input[type="submit"] {
    border: none;
    background: #0bbbc1;
    color: #fff;
    font-size: 16px;
    font-family: 'Zilla Slab';
    font-weight: 700;

}

/********** section gray-background *********/
.section-gray-bg {
    background: #fbfbfb;
}

.section-gray-bg h4 {
    color: #000;
    font-size: 20px
}

.section-gray-bg p {
    font-size: 13.5px;
}

/****success-plan section ****/

.success-plan span .ticker-text {
    display: inline-block;
    margin-top: 30px;
}

.success-plan h2 {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 32px;
}

.success-plan p {
    color: #777777;
    font-size: 14px;
}

.ticker-text {
    margin-top: 40px;
    display: inline-block;
    background: #303030;
    color: #fff;
    padding: 7px 32px;
    border-radius: 50px;
    font-size: 14px;
}

.success-plan .boxed-btn {

    margin-top: 28px;
    background: #32edf3;
    padding: 10px 40px;
}

.success-plan .margin-80 {
    margin: 80px;
}

.success-plan h3 {
    color: #333;
    font-size: 20px
}

/* about-success-plan-section */
.success-plan img {

    border-radius: 10px;
    border: 1px solid #333;
    border-right: 0px;
}

/******* service-box *********/

.service h2 {
    color: #333
}

.service-box h3 {
    font-size: 20px;
    margin: 20px 0;

}

.service .service-box .service-icon {
    position: relative;
    top: 0;
    left: 0;
    line-height: 70px;
}

.service-box {
    padding: 35px 20px;
}

.service-box:hover {
    background: #fafafa;
}

/* our expart team */


.export-team .margin {
    margin: 80px 0px 50px;

}

.single-team-item-2 {
    background: #fbfbfb;
    padding: 43px 22px;
    margin: 19px;
    text-align: center;
    border-radius: 5px;
}

.theme-2 .single-team-item-2 {
    box-shadow: 0 0 8px #ddd;
    border: 2px solid transparent
}

.single-team-item-2:hover {
    border: 2px solid #0bbbc1;
    box-shadow: 0 0 0 #ddd;

}

.team-3 {
    padding: 50px 100px
}

.team-3 .single-team-item-2 img {
    height: auto;
    width: 100px;
    border-radius: 50%;
}





.single-team-item-2 p {
    font-size: 12.5px;
    margin-bottom: 25px;
    margin-top: 26px
}

.single-team-item-2 h5 {

    font-size: 14px;
    font-weight: 700;

}

.single-team-item-2>h5>span {

    display: block;
    font-size: 13px;
    font-weight: 200;
    color: #726f6f;
}

.single-team-item-2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
    color: #0d0d14;
}

.slick-dots li button:before {
    color: #d8d8d8;
    font-size: 40px;
    opacity: .75
}

.slick-dots li.slick-active button:before {
    opacity: 100;
    color: #0bbbc1;
    font-size: 40px;
}

.slick-prev {
    z-index: 999;
    left: 3%;

}

.slick-next {
    right: 3%
}





/* .black-overlay -2 */



.section-bg-4 {
    background-image: url(../img/home-page-2\(2\).jpg);
}

.black-overlay h2 {
    margin-top: -10px;
    margin-bottom: 10px;
}

.black-overlay .boxed-btn {
    margin-top: 15px;
    padding: 10px 32px;
}

/***Our Blog-2 section ***/
.margin-bottom-60 {
    margin-bottom: 60px
}

.blog-area h2 {
    color: #333
}

.single-blogbox h5 {
    color: #333;
    font-size: 16px;
}

.single-blogbox p {
    font-size: 13px;
}

.single-blogbox a {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Zilla Slab', serif;

}

.single-blogbox {
    box-shadow: 0 0 4px #ddd;
    padding: 31px 12px 31px 26px
}

/* footer-area-2 */



.footer-area.dark-bg {
    background: #333;
    padding: 75px 0;

}

.footer-area.dark-bg,
.footer-area.dark-bg p,
.footer-area.dark-bg a,
.footer-area.dark-bg h5 {
    color: rgb(255, 255, 255)
}

.footer-area .dark-bg ul {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-area .social-link a {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 1px;
    border: 1px solid rgb(240, 232, 232);
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    border-radius: 50%;
}

.footer-area .social-link a:hover {

    background-color: #0bbbc1;
    border-color: #0bbbc1;
    color: #111010
}

/* ****about-Header- Breadcromb-Area *****/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #888888;
    position: relative;
    line-height: 1.8;
    box-sizing: border-box;
}

.about .search-box {
    margin-top: 15px;
}

.breadcromb-area div {
    color: #fff
}

.breadcromb-bg-1 {
    background-image: url(../img/about.home-bg.jpg);
}

.breadcromb-area {
    font-size: 14px;
    font-weight: 700;
    padding-top: 180px;
    padding-bottom: 130px
}

.breadcromb-area h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.breadcromb-area a {
    color: #fff
}





/* about-section-black-background-overlay */



.section-bg-5 {
    background-image: url(../img/about-3.jpg.jpg);
}


.service-icon-2 img {

    width: 30px;
    margin-bottom: 15px;

}

.about-black h4 {
    font-size: 20px;
}

.about-black p {
    font-size: 12px;
}

/* Our-Expert team -about */

.expert-team.margin {
    margin: -23px 0px 56px;
}

/* black-overlay-3 */

/* .about-overlay h3 {
         font-size: 32px

     }

     .about-overlay p {
         font-size: 11.5px
     } */

.section-bg-6 {
    background-image: url(../img/about-4.jpg.jpg );
}



/***** footer-area-3  *****/

.about-footer ul {
    color: #333;
    font-size: 14px;
}

.about-footer ul {
    color: #333;
    font-size: 14px;
    margin-top: 17px;
}

.footer-area h5 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.about-footer .social-link a:hover {
    background-color: #0bbbc1;
    border-color: #0bbbc1;
    color: #fbf5f5;
}

.about-footer .social-link a {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 1px;
    border: 1px solid rgb(1, 1, 1);
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    border-radius: 50%;
    color: #333
}


/* about-Header- service-Area */
.services-bg-1 {
    background-image: url(../img/service-home.jpg);
}



/* single-service-description */
.services-bg-2 {
    background-image: url(../img/single-service-cover.jpg);
    background-size: cover;
    background-position: center;
}

.service-description img {
    height: 500px;
    width: 100%
}

.widget {
    background-color: #fafafa;
    padding: 35px;
    margin-bottom: 30px;
}

.widget .boxed-btn {
    border-radius: 0;
    width: 100%;
    text-align: center;
    padding: 12px;
    margin-top: 28px;
}

.nav_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget .nav_menu {
    padding: 0;
    background-color: transparent;
}

.nav_menu li a {
    background: #fafafa;
    display: block;
    margin-bottom: 10px;
    padding: 15px 30px;
    color: #333;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.nav_menu li a:hover {
    background: #22babf;
    color: #fff;
}

.service-description h3 {
    margin-top: 45px;
}


/* Team-area */

.team-bg-1 {
    background-image: url(../img/team-cover.jpg);
    background-size: cover;
    background-position: center;

}

/* faqs-widget */

.faqs h3 {
    font-size: 24px;

}

.faqs h2 {
    font-size: 28px;
    margin-bottom: 40px;
}


.faqs .nav_menu {
    margin-bottom: 40px;
    padding: 0px;
    background-color: transparent;
}

.faqs .widget {
    padding: 25px;
}

.twist-faqs .btn.btn-link {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-align: left;
    text-decoration: none;

}


.card {

    border: none;
    margin-bottom: 15px;
    box-shadow: 0px 1px 5px #d5d4d4;


}

.card-header {
    padding: 0.50rem 1.25rem;

    background-color: rgba(0, 0, 0, .03);
    border-bottom: none;


}

.faqs p {
    font-size: 14px
}

.card-body {
    background-color: rgba(0, 0, 0, .03);
}


.twist-faqs button {
    position: relative
}

.twist-faqs button:after {
    content: "+";
    position: absolute;
    right: 0;
    background: #049b93;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 23px;

}

.twist-faqs button[aria-expanded="true"]:after {
    content: "-"
}


/* blog-section */

.blog-thumb-1 {
    background-image: url(../img/blog-thumb-1.jpg);
}

.blog-thumb-2 {
    background-image: url(../img/blog-thumb-2.jpg);
}

.blog-thumb-3 {
    background-image: url(../img/blog-thumb-3.jpg);
}

.blog-thumb-4 {
    background-image: url(../img/blog-thumb-4.jpg);
}

.blog-thumb-5 {
    background-image: url(../img/blog-thumb-5.jpg);
}

.blog-thumb {

    height: 271px;
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    border-radius: 5px;
}

.single-blog-post {
    margin-bottom: 32px;
    background-color: #fdfdfd;
}

.blog-excerpt {
    font-size: 14px;
}

.blog-desc h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.blog-desc a {
    color: #05bbc1;
}

.post-date {
    font-size: 14px;
    margin-top: 20px;
}

a.blog-readmore-btn {
    font-size: 12px;
    font-family: ZillaSlab;
    font-weight: 700;
}

.page-item:first-child .page-link {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 50%;
}

.page-item:last-child .page-link {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 50%;

}

.pagination li a.page-link {
    font-family: ZillaSlab;
    font-weight: 700;
    line-height: 30px;
    color: #333;
    border: none;
    font-size: 14px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: #f7fcfc8a;
    text-align: center;
    margin: 5px;
}


.pagination li a.page-link:hover {
    color: #fff;
    background-color: #22bac0;
}

.blog-section .widget {
    padding: 0px;
    background-color: transparent;
    margin-bottom: none;
}

.search-widget button {

    background-color: transparent;
    border: none;
    color: #333;
}

.search-widget input[type="search"] {

    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    border: none
}

.search-widget button[type="submit"] {
    position: absolute;
    left: 140px;
    top: -5px
}

.search-widget form {
    box-shadow: 0px 1px 2px hsl(0, 3%, 61%);
    margin-bottom: 50px;
}


.blog-section h3 {
    font-size: 24px
}

ul.thumb-posts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.thumb-posts img.align-left.img-rounded {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.thumb-posts li:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 25px;
}

.thumb-posts .align-left {
    float: left;
    margin-right: 15px;
}

.thumb-posts a {
    color: #333
}

.thumb-posts h4 {
    font-size: 16px;
}

.thumb-area h3 {
    margin-bottom: 40px;
}


/*      blog-details-section */